#button1{
    height:40px;
    width: 40px;
    position: absolute;
    margin-left: 12px;
    margin-top: 30px;
}

#button2 {
    height: 40px;
    width: 40px;
    position: absolute;
    margin-left: -52px;
    margin-top: 30px;
}

#display {
    height: 80px;
    width: 80px;
    position: absolute;
    margin-left: -41px;
    margin-top: -60px;
    font-size: 40px;
}